/*
 * Copyright (c) 2012, 2021, Wedon and/or its affiliates. All rights reserved.
 *
 */

// 保存该模块下的路由信息
const routerArr = [
    #foreach($node in $tableDomainNodeList)
    {
        path: '/${artifactId.toLowerCase()}/${node.domainName.toLowerCase()}/list',
        name: '${node.domainName.toLowerCase()}List',
        meta: { title:'${node.domainName.toLowerCase()}',
        },
        component: () => import(/* webpackChunkName: '${artifactId.toLowerCase()}' */ './${node.domainName.toLowerCase()}/list.vue'),
    },
    #end

]
export default routerArr