package ${controllerPackage};

import cc.wdcloud.base.enums.DelEnum;
import com.github.pagehelper.PageInfo;
import com.google.common.base.Preconditions;
import cc.wdcloud.base.Resp;
import ${domainPackage}.${domainName};
import ${servicePackage}.${serviceName};
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import java.util.List;

/**
 * todo 写下本controller 你的注释
 *
 * @author ${author}
 * @version 1.0.0
 * @createdAt ${createDate}
 * @updatedAt ${createDate}
 */
@Api(tags = "${objName}")
@RestController
@RequestMapping("/${objName}")
public class ${domainName}Controller {

    @Autowired
    ${serviceName} ${objName}Service;

    /**
     * 条件查询, 分页
     *
     * @param
     * @return
     * @author ${author}
     * @createdAt ${createDate}
     * @updatedAt ${createDate}
     */
    @ApiOperation(value = "条件查询")
    @RequestMapping(value = "/findByCondition", method = {RequestMethod.GET, RequestMethod.POST})
    public Resp<PageInfo<${domainName}>> findByCondition(@RequestParam(defaultValue = "1") Integer pageNum,
                                                            @RequestParam(defaultValue = "10") Integer pageSize,
                                                            @RequestBody(required = false) ${domainName} ${objName}) {

        PageInfo<${domainName}> pageInfo = ${objName}Service.findByConditionWithPage(pageNum, pageSize, ${objName});
        return Resp.success(pageInfo);
    }

    /**
     * 保存
     *
     * @param
     * @return
     * @author ${author}
     * @createdAt ${createDate}
     * @updatedAt ${createDate}
     */
    @ApiOperation(value = "保存和更新")
    @RequestMapping(value = "/save", method = RequestMethod.POST)
    public Resp<Long> save(@RequestBody ${domainName} ${objName}) {
        Long ${objName}Id = ${objName}.getId();
        if (null == ${objName}Id) {
                ${objName}Service.insert(${objName});
                ${objName}Id = ${objName}.getId();

        } else {
                ${objName}Service.updateById(${objName});
        }
        return Resp.success(${objName}Id);
    }

    /**
     * 获取详情
     *
     * @param
     * @return
     * @author ${author}
     * @createdAt ${createDate}
     * @updatedAt ${createDate}
     */
    @Deprecated
    @ApiOperation(value = "主键查询")
    @RequestMapping(value = "/findById", method = RequestMethod.GET)
    public Resp<${domainName}> findById(@RequestParam Long id) {
        Preconditions.checkArgument(id != null, "ID不能为空");
        ${domainName} ${objName} =${objName}Service.findById(id);
        return Resp.success(${objName});
    }

    /**
     * 删除，软删除，更新数据库删除标志
     *
     * @param
     * @return
     * @author ${author}
     * @createdAt ${createDate}
     * @updatedAt ${createDate}
     */
    @ApiOperation(value = "删除")
    @RequestMapping(value = "/delete", method = RequestMethod.GET)
    public Resp<Boolean> delete(@RequestParam Long id) {
        Preconditions.checkArgument(id != null, "ID不能为空");
        ${domainName} ${objName} = new ${domainName}();
        ${objName}.setId(id);
        ${objName}.setIsDel(DelEnum.NO.getCode());
        int count = ${objName}Service.updateById(${objName});
        return Resp.success(count == 1);
    }
}

